<div class="container mt-5">
    <h3>Conversão de Múltiplos Arquivos</h3>
  
    <div class="mt-4">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="sourceLanguage">Linguagem Original:</label>
          <select class="form-control" id="sourceLanguage" [(ngModel)]="selectedSourceLanguage">
            <option value="Visual Basic">Visual Basic</option>
            <option value="C#">C#</option>
            <option value="C++">C++</option>
            <option value="python">Python</option>
            <option value="javascript">JavaScript</option>
            <option value="java">Java</option>
          </select>
        </div>
  
        <div class="form-group col-md-4">
          <label for="targetLanguage">Linguagem Final:</label>
          <select class="form-control" id="targetLanguage" [(ngModel)]="selectedTargetLanguage">
            <option value="Visual Basic">Visual Basic</option>
            <option value="C#">C#</option>
            <option value="C++">C++</option>
            <option value="python">Python</option>
            <option value="javascript">JavaScript</option>
            <option value="java">Java</option>
          </select>
        </div>
      </div>
  
      <input type="file" multiple (change)="handleFileInput($event)">
      <button class="btn btn-primary mt-3" [disabled]="!selectedFiles.length" (click)="convertFiles()">Converter</button>
    </div>
  
    <div class="mt-4" *ngIf="selectedFiles.length">
      <h4>Arquivos Selecionados:</h4>
      <ul>
        <li *ngFor="let file of selectedFiles" [ngClass]="{'text-success': fileConversionStatus[file.name] === 'Sucesso', 'text-danger': fileConversionStatus[file.name] === 'Falha'}">
          <button class="btn btn-success" *ngIf="fileConversionStatus[file.name] === 'Sucesso'" (click)="downloadConvertedFile(file.name)">Download</button>
          <button class="btn btn-danger" *ngIf="fileConversionStatus[file.name] === 'Falha'" (click)="showErrorAlert(file.name)">Detalhes</button>
          {{ file.name }} - {{ fileConversionStatus[file.name] }}
          <div *ngIf="fileConversionStatus[file.name] === 'Convertendo'" class="custom-loader"></div>
        </li>
      </ul>
    </div>
  
    <button class="btn btn-success mt-3" *ngIf="convertedFiles.length" (click)="downloadConvertedFiles()">Salvar Arquivos Convertidos</button>
  </div>
  